#glowny-tytul-strony{background-color: orange;
}
#o-mnie{background-color: green;
}
#kontakt{background-color: green;
}

div{background-color: rgb(232, 239, 239);
width: fit-content;
height: fit-content;}
